#table-container {
    max-height: 400px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Add a vertical scrollbar when needed */
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.comment-input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

#submitBtn {
    margin-top: 20px;
    padding: 10px;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
}

.checkbox-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
